body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

#title {
  margin-top: 2rem;
  font-size: 2.5rem;
  font-family: "Ubuntu Sans Mono", monospace;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 250;
  height: 250;
  cursor: pointer;
}

.marker {
  font-size: 6rem;
}
