#root {
    margin: 0 auto;
    text-align: center;
}

input {
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 0.25rem;
    padding: 2rem;
    width: 250px;
    height: 250px;
    border: 1px solid #dddddd77;
}

.item-list {
    overflow: scroll;
    text-align: left;
    width: 100%;
}

.border {
    border-top: 1px solid #dddddd77;
    width: 100%;
    padding: 3rem 0 0 0;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.title {
    padding: 4rem;
}
